<% oauth_tokens = rodauth.scope.instance_variable_get(:@oauth_tokens) %>
<% tokens_count = oauth_tokens.count %>
<% if tokens_count.zero? %>
  <p>No oauth tokens yet!</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><=% rodauth.oauth_tokens_token_label %></th>
        <th scope="col"><=% rodauth.oauth_tokens_refresh_token_label %></th>
        <th scope="col"><=% rodauth.oauth_tokens_expires_in_label %></th>
        <th scope="col"><=% rodauth.oauth_tokens_revoked_at_label %></th>
        <th scope="col"><=% rodauth.oauth_tokens_scopes_label %></th>
        <th scope="col"><span class="badge badge-pill badge-dark"><%= tokens_count %></span>
      </tr>
    </thead>
    <tbody>
      <% oauth_tokens.each do |oauth_token| %>
        <tr>
          <td><code class="token"><%= oauth_token[rodauth.oauth_tokens_token_column] %></code></td>
          <td><code class="token"><%= oauth_token[rodauth.oauth_tokens_refresh_token_column] %></code></td>
          <td><%= oauth_token[rodauth.oauth_tokens_expires_in_column] %></td>
          <td><%= oauth_token[rodauth.oauth_tokens_revoked_at_column] %></td>
          <td><%= oauth_token[rodauth.oauth_tokens_scopes_column] %></td>
          <td>
            <% if !oauth_token[rodauth.oauth_tokens_revoked_at_column] %>
              <%= form_tag rodauth.revoke_path, method: :post do %>
                <%= hidden_field_tag :token_type_hint, "access_token" %>
                <%= hidden_field_tag :token, oauth_token[rodauth.oauth_tokens_token_column] %>
                <%= submit_tag rodauth.oauth_token_revoke_button, class: "btn btn-danger" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= rodauth.oauth_management_pagination_links(@oauth_tokens) %>
<% end %>
